<div class="login-container">
    <div class="container">
        <div class="row" style="height: 130px;"></div>
        <div class="row">
            <div class="col-5">
                <div class="login-box">
                    <h1>Wizard's Ordinary Magic and Basic Aptitude Test.</h1>
                    <h4>A quiz that proves a true Potterhead.</h4> <br>
                    <div class="row" style="height:40vh">
                        <div class="col-9">
                            <input type="text" class="form-control" name="" id="" placeholder="@Email Id" style="margin-bottom: 13px; opacity: 0.8;"> 
                            <input type="text" class="form-control" name="" id="" placeholder="@Password" style="margin-bottom: 13px; opacity: 0.8">
                            <input type="Submit" class="form-control btn btn-login" name="" id="" value="Login" style="opacity: 0.8">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
