<div class="home-jumbotron">
    <div class="container">
        <div class="row" style="height: 150px;"></div>
        <div class="row">
            <div class="col-7">
                <p class="HP-font" style="font-size: 50px;">Wizard's Ordinary Magic and Basic Aptitude Test</p>
                <p >Hello Omkarslam420, W.O.M.B.A.T is a quiz which evaluates your potterhead level. Before giving
                    the test, don't forget to revise some facts and bingewatch some of the important glimpses of Harry Potter. <br> <br>
                    Note: After passing this exam, points will be awarded to your respective houses.
                </p>
                <div class="row justify-content-center">
                    <div class="col-4 box-container" >
                        <div class="inner-box">
                            <i class="fas fa-magic box-icon"></i> 
                        <p class="text-center"> <br>Questions to solve, each contains 5 points. All the best.</p>
                        <div class="text-center"><button class="btn btn-wombat " routerLink="/question">Click Here</button></div>
                        </div>
                    </div>
                    <div class="col-4 box-container">
                        <div class="inner-box">
                            <i class="fas fa-edit box-icon"></i>
                        <p class="text-center"> <br> Could Add, Delete and Modify questions. For Professors only.</p>
                        <div class="text-center"><button class="btn btn-wombat   " routerLink="/edit">Click Here</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
