<div class="quest-container" >
    <div class="container">
        <div class="row" style="height: 120px;"></div>
        <div class="quest-box">
            <div class="row" style="height: 10px;"></div>
            <div class=" text-center" style="font-size: 22px; margin:15px;">{{this.currentQnNo + 1}} out of {{this.qnList.length}} Questions</div>
            <div class="row justify-content-center" style="padding: 0;">
                <div class="col-11 q-box">
                    <p class="q-para"> {{this.currentQn[0].question}}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-11">
                    <div class="row justify-content-center">
                        <div class="col-5 ans-g" id="a" (click)="ansa()">
                            <p class="ans-para" >
                                {{this.currentQn[0].options[0]}}
                            </p>
                        </div>
                        <div class="col-5 ans-s " id="b" (click)="ansb()" >
                            <p class="ans-para">
                                {{this.currentQn[0].options[1]}}
                            </p>
                        </div>
                        <div class="col-5 ans-h" id="c" (click)="ansc()" >
                            <p class="ans-para">
                                {{this.currentQn[0].options[2]}}
                            </p>
                        </div>
                        <div class="col-5 ans-r"  id="d" (click)="ansd()">
                            <p class="ans-para">
                                {{this.currentQn[0].options[3]}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <p style="margin: 0;"><button id="prev" (click)="previous()" class="quest-arrow" ><i  class="fas fa-chevron-left" ></i></button>
                    <span ><button class="quest-arrow2" (click)="next()" id="next"><i class="fas fa-chevron-right"></i></button></span>
                    <button class="btn btn-wombat d-none " id="submit" (click) = "sub()">Submit</button>
                </p>
            </div>
        </div>
    </div>
</div>