<div class="quest-container">
    <div class="container">
        <div class="row" style="height: 120px;"></div>
        <div class="quest-box">
            <div class="row" style="height: 10px;"></div>
            <div class=" text-center" style="font-size: 22px; margin:15px;">1 out of 15 Questions</div>
            <div class="row justify-content-center" style="padding: 0;">
                <div class="col-11 q-box">
                    <p class="q-para"> {{this.currentQn[0].question}}</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-11">
                    <div class="row justify-content-center">
                        <div class="col-5 ans-g">
                            <p class="ans-para">
                                {{this.currentQn[0].options[0]}}
                            </p>
                        </div>
                        <div class="col-5 ans-s" routerLink="/result">
                            <p class="ans-para">
                                {{this.currentQn[0].options[1]}}
                            </p>
                        </div>
                        <div class="col-5 ans-h">
                            <p class="ans-para">
                                {{this.currentQn[0].options[2]}}
                            </p>
                        </div>
                        <div class="col-5 ans-r">
                            <p class="ans-para">
                                {{this.currentQn[0].options[3]}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <p style="margin: 0;"><a href="" class="quest-arrow"><i class="fas fa-chevron-left"></i></a>
                    <a href="" class="quest-arrow2"><i class="fas fa-chevron-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>