<div class="about-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 about-img"  ></div>
        <div class="col-5 abt-text" >
            <div class="row" style="height: 200px;"></div>
            <div >
                <p>
                    W.O.M.B.A.T is a web application based on a quiz which proves whether you are a true potterhead or not.
                    Just try out the quiz, you will feel amazing. <br>
    
                    <br>
                    The tools and frameworks which has been used here:
                    
                </p>
                    <ul>
                        <li>Frontend: Angular</li>
                        <li>Backend: Spring Boot</li>
                        <li>Database: Mysql</li>
                        <li>ApiTesting: Postman</li>
                        <li>CI and CD: Jenkins</li>
                    </ul>
    
                
                    Thank you for visiting this application. If any queries, contact us. <br>
                    <button class="btn btn-wombat" routerLink="/contact">Contact Us</button>
    
            </div>
            
        </div>
        </div>
    </div>
</div>
